/* arquivo responsavel pelos estilos*/
/*Aula 24/04/2023 - estilos do menu*/
body, ul {
    margin: 0px;
    padding: 0px;
}
#menu a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    transition: 0.3s;
}
#menu a:hover {
    color: crimson;
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;    
}
#logo img:hover {
    box-shadow: 4px 4px 6px #0000007a;
    transition: 0.3s;
}
#logo img {
    float: left;
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
}
#header {
      width: 100%;
      position: fixed;
      z-index: 90;
      box-sizing: border-box;
      height: 75px;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #e7e7e7;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
.carousel-inner .carousel-item img{
    width: 100%;
    margin: auto;
    max-height: 800px;
    padding-top: 85px;
}


#carouselExampleInterval{
    position: relative;
    z-index: 10;
    padding-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 6px 6px 6px #0000007a;
    transition: 0.3s;  
}
#carouselExampleInterval img {
    height: 100%;
    width: 100%;
}

/*CSS Estilos Banner */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: #7e8081;
}
.section-banner-home img {
    height: 400px;
    width: auto;
}
.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    padding-bottom: 20px;
    color: white;
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
}
.section-banner-home .texto-banner a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #f3f1f1a2;
    padding: 4px 14px;
    font-size: 15px;
}
/* fim css estilos banner */

/* inicio css destaques */

.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
.destaque a:hover{
    color: rgb(255, 0, 0);
    font-size: 24px;
    transition: 0.3;
    text-shadow: 4px 4px 6px #838282;
}

.destaque img{
    height: 300px;
}
/* fim css destaque */

/* inicio css novidades */

.novidades .text-body {
    width: 80%;
    margin: 70px;
}
.novidades h2 {
    color: #0000;
}
.novidades p {
    color: rgb(0, 0, 0);
}
.novidades a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    text-decoration-color: violet;
    padding: 6px 12px;
    background-color: rgb(0, 68, 194);
    font-weight: 400;
}
/* fim css novidades */
/* inicio css galeria */
.galeria {
    margin: 60px 20px 20px 50px;
}
/* 60px > top / auto >right and left */
.galeria .container {
    margin-left: 14%;
}

.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50%;
}
.galeria .galerry{
    width: 30%;
    margin: 14px auto 50px;
}
.galeria .gallery img {
    width: 80%;
    height: 80%;
}
/* fim css galeria */

/* inicio css footer */

.rodape {
    padding:50px 50px 0 ;
}
.rodape .container img {
    height: 2000px;
}

.rodape .info-contato p {
    margin: 0;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-socias {
    display: inline-block;
}

.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
/* fim css footer */


 
